<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Clipboard</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.blacktree.Quicksilver.QSClipboardPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Clipboard Plugin</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.0</string>
	<key>CFBundleVersion</key>
	<string>160</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014, QSApp</string>
	<key>NSPrincipalClass</key>
	<string>QSPasteboardController</string>
	<key>QSDefaults</key>
	<dict>
		<key>Capture Pasteboard History</key>
		<false/>
		<key>Capture Pasteboard History Count</key>
		<integer>10</integer>
		<key>Discard Pasteboard History</key>
		<true/>
		<key>QSPasteboard Paste on Selection</key>
		<true/>
		<key>QSPasteboardController HideAfterPasting</key>
		<false/>
	</dict>
	<key>QSLoadImmediately</key>
	<true/>
	<key>QSPlugIn</key>
	<dict>
		<key>author</key>
		<string>Blacktree, Inc.</string>
		<key>categories</key>
		<array>
			<string>Text</string>
			<string>System</string>
		</array>
		<key>description</key>
		<string>Allows clipboard recording and adds a clipboard history window.</string>
		<key>extendedDescription</key>
		<string>&lt;h3&gt;Clipboard Plugin&lt;/h3&gt;
&lt;p&gt;The clipboard plugin gives Quicksilver the ability to keep a record of the Clipboard history (disabled by default), storing it in the &apos;Clipboard History&apos; item in Quicksilver (type &apos;Clipboard History&apos; into Quicksilver).&lt;br&gt;
In addition to viewing the clipboard history in Quicksilver, the plugin adds a floating panel which displays all your history. To open the panel, open Quicksilver and press ⌘L.&lt;/p&gt;
&lt;h3&gt;Preferences&lt;/h3&gt;
&lt;p&gt;The Clipboard preferences allow you to alter the behaviour of how Quicksilver stores your clipboard contents. The following options are available:&lt;/p&gt;
&lt;dl&gt;
&lt;dt&gt;Capture History&lt;/dt&gt;
&lt;dd&gt;Turn on the history capture option, so Quicksilver will keep a record of your history items. Enter the number of items you would like Quicksilver to store in the box alongside. 20 items is a good starting point.&lt;/dd&gt;
&lt;dt&gt;Keep history when restarting&lt;/dt&gt;
&lt;dd&gt;Enable this to preserve clipboard history when Quicksilver or your computer are restarted. This will save your clipboard data to the disk, so you should consider any security issues before enabling the option.&lt;/dd&gt;
&lt;dt&gt;Hide after pasting&lt;/dt&gt;
&lt;dd&gt;Enabling this option causes the Clipboard window to hide when you paste an item.&lt;/dd&gt;
&lt;dt&gt;Ignore Applications&lt;/dt&gt;
&lt;dd&gt;Sometimes you may copy sensitive information for certain applications, if you want Quicksilver to ignore all clipboard entries from a given application, then enter its name in the box.&lt;/dd&gt;
&lt;/dl&gt;
&lt;h3&gt;Clipboard Window&lt;/h3&gt;
&lt;h4&gt;Positioning the window&lt;/h4&gt;
&lt;p&gt;The Clipboard Window is a floating panel specific to Quicksilver, giving it several useful features for positioning. Positioning the window on the side of the screen will cause it to become &apos;docked&apos; on the screen edge. It will then slide into the screen edge. Hover over the edge of the screen to make the window reappear.&lt;/p&gt;
&lt;p&gt;The position of windows is remembered across restarts of Quicksilver, and you can have the window disappear after pasting by enabling the &apos;Hide after pasting&apos; option in the preferences (see above).&lt;br&gt;
&lt;strong&gt;Tip:&lt;/strong&gt; You can quickly open and close the Clipboard Window by creating a trigger with the following options:&lt;br&gt;
&apos;Clipboard History ⇥ Show&apos;
If you would like to display the contents of your Clipboard history in Quicksilver (so that they are searchable) then set up the following trigger:&lt;br&gt;
&apos;Clipboard History ⇥ Show Contents&apos;&lt;/p&gt;
&lt;h4&gt;Pasting Items&lt;/h4&gt;
&lt;p&gt;The Clipboard Window (activated by pressing ⌘L when Quicksilver is activated) displays a list of your Clipboard history. You can browse the history using the ↑↓ arrows, and paste text by pressing the Enter key (↩). A quicker way to paste an item is by pressing its corresponding number (from 1 to 9), displayed next to the item in the preference window.&lt;/p&gt;
&lt;p&gt;Finally, it is possible to drag an item from the Clipboard window to wherever you would like to place it (e.g. on your Desktop) or double click an item to paste it.&lt;/p&gt;
&lt;p&gt;&lt;strong&gt;Tip&lt;/strong&gt;
To paste items form the Clipboard Window as plain text, hold the ⌥ (option) key whilst either double clicking an item or pressing a keyboard key (numbers 1 to 9 or ↩)&lt;/p&gt;
&lt;h3&gt;Proxy Objects&lt;/h3&gt;
&lt;h4&gt;Clipboard Contents&lt;/h4&gt;
&lt;p&gt;The &apos;Clipboard Contents&apos; proxy object returns whatever you have currently copied to your clipboard. It is useful for setting up with triggers. An example could be:&lt;br&gt;
&apos;Clipboard Contents ⇥ Find With… ⇥ Google&apos;&lt;/p&gt;
&lt;h4&gt;Current Find Clipboard&lt;/h4&gt;
&lt;p&gt;This returns the text you last searched for in a standard Cocoa application or &quot;copied&quot; with ⌘E. For example, if you just searched for some words in TextEdit, then decide you want to repeat that search on the web, you can run &apos;Current Find Clipboard ⇥ Find With… ⇥ DuckDuckGo&apos;.&lt;/p&gt;
&lt;h3&gt;Action Objects&lt;/h3&gt;
&lt;p&gt;By default, the Clipboard plugin adds a serious of &apos;action objects&apos; which can be run from Quicksilver&apos;s 1st pane, or more usefully, as triggers. These are:&lt;/p&gt;
&lt;ul&gt;
&lt;li&gt;&lt;strong&gt;Clip store paste &lt;code&gt;&amp;lt;number&amp;gt;&lt;/code&gt;&lt;/strong&gt;&lt;/li&gt;
&lt;li&gt;&lt;strong&gt;Clip store copy &lt;code&gt;&amp;lt;number&amp;gt;&lt;/code&gt;&lt;/strong&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&lt;code&gt;Clip store paste&lt;/code&gt; can be used to paste the clipboard&apos;s contents corresponding to &lt;code&gt;&amp;lt;number&amp;gt;&lt;/code&gt;. For example, &lt;code&gt;Clip store paste 9&lt;/code&gt; will paste the 9th item from the pasteboard.
&lt;code&gt;Clip store copy&lt;/code&gt; works in a similar way, except instead of pasting the item directly, it copies it to the clipboard.&lt;/p&gt;</string>
		<key>icon</key>
		<string>Clipboard</string>
	</dict>
	<key>QSRegistration</key>
	<dict>
		<key>QSInternalMessages</key>
		<dict>
			<key>QSClipboardPaste</key>
			<dict>
				<key>action</key>
				<string>qsPaste:</string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Paste Selection from Clipboard</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardQueueShowMessage</key>
			<dict>
				<key>action</key>
				<string>showQueue:</string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Show Clipboard Cache (pOld)</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardShowMessage</key>
			<dict>
				<key>action</key>
				<string>showClipboard:</string>
				<key>classMethod</key>
				<true/>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Show Clipboard</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStackShowMessage</key>
			<dict>
				<key>action</key>
				<string>showStack:</string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Show Clipboard Cache (pNew)</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy0</key>
			<dict>
				<key>action</key>
				<string>copyNumber:</string>
				<key>argument</key>
				<integer>0</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 1</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy1</key>
			<dict>
				<key>action</key>
				<string>copyNumber:</string>
				<key>argument</key>
				<integer>1</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 2</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy2</key>
			<dict>
				<key>action</key>
				<string>copyNumber:</string>
				<key>argument</key>
				<integer>2</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 3</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy3</key>
			<dict>
				<key>action</key>
				<string>copyNumber:</string>
				<key>argument</key>
				<integer>3</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 4</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy4</key>
			<dict>
				<key>action</key>
				<string>copyNumber:</string>
				<key>argument</key>
				<integer>4</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 5</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy5</key>
			<dict>
				<key>action</key>
				<string>copyNumber:</string>
				<key>argument</key>
				<integer>5</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 6</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy6</key>
			<dict>
				<key>action</key>
				<string>copyNumber:</string>
				<key>argument</key>
				<integer>6</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 7</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy7</key>
			<dict>
				<key>action</key>
				<string>copyNumber:</string>
				<key>argument</key>
				<integer>7</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 8</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageCopy8</key>
			<dict>
				<key>action</key>
				<string>copyNumber:</string>
				<key>argument</key>
				<integer>8</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Copy 9</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste0</key>
			<dict>
				<key>action</key>
				<string>pasteNumber:</string>
				<key>argument</key>
				<integer>0</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 1</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste1</key>
			<dict>
				<key>action</key>
				<string>pasteNumber:</string>
				<key>argument</key>
				<integer>1</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 2</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste2</key>
			<dict>
				<key>action</key>
				<string>pasteNumber:</string>
				<key>argument</key>
				<integer>2</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 3</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste3</key>
			<dict>
				<key>action</key>
				<string>pasteNumber:</string>
				<key>argument</key>
				<integer>3</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 4</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste4</key>
			<dict>
				<key>action</key>
				<string>pasteNumber:</string>
				<key>argument</key>
				<integer>4</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 5</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste5</key>
			<dict>
				<key>action</key>
				<string>pasteNumber:</string>
				<key>argument</key>
				<integer>5</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 6</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste6</key>
			<dict>
				<key>action</key>
				<string>pasteNumber:</string>
				<key>argument</key>
				<integer>6</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 7</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste7</key>
			<dict>
				<key>action</key>
				<string>pasteNumber:</string>
				<key>argument</key>
				<integer>7</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 8</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStoragePaste8</key>
			<dict>
				<key>action</key>
				<string>pasteNumber:</string>
				<key>argument</key>
				<integer>8</integer>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clip Store Paste 9</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
			<key>QSClipboardStorageShowMessage</key>
			<dict>
				<key>action</key>
				<string>showStore:</string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Show Clipboard Storage</string>
				<key>target</key>
				<string>QSPasteboardController</string>
			</dict>
		</dict>
		<key>QSInternalObjects</key>
		<dict>
			<key>QSClipboardObject</key>
			<dict>
				<key>handler</key>
				<string>QSPasteboardController</string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clipboard</string>
			</dict>
		</dict>
		<key>QSModules</key>
		<dict>
			<key>QSClipboardModule</key>
			<dict>
				<key>action</key>
				<string></string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clipboard Tool</string>
				<key>target</key>
				<string></string>
			</dict>
		</dict>
		<key>QSPreferencePanes</key>
		<dict>
			<key>QSPasteboardPrefPane</key>
			<dict>
				<key>class</key>
				<string>QSPasteboardPrefPane</string>
				<key>description</key>
				<string>Clipboard History Options</string>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clipboard</string>
				<key>nibBundle</key>
				<string>com.blacktree.Quicksilver.QSClipboardPlugIn</string>
				<key>nibName</key>
				<string>QSPasteboardPrefPane</string>
			</dict>
		</dict>
		<key>QSProxies</key>
		<dict>
			<key>QSFindPasteboardProxy</key>
			<dict>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Current Find Clipboard</string>
				<key>providerClass</key>
				<string>QSPasteboardController</string>
				<key>types</key>
				<array>
					<string>NSStringPboardType</string>
				</array>
			</dict>
			<key>QSGeneralPasteboardProxy</key>
			<dict>
				<key>icon</key>
				<string>Clipboard</string>
				<key>name</key>
				<string>Clipboard Contents</string>
				<key>providerClass</key>
				<string>QSPasteboardController</string>
				<key>types</key>
				<array>
					<string>NSColorPboardType</string>
					<string>Apple URL pasteboard type</string>
					<string>NSFileContentsPboardType</string>
					<string>NSFilenamesPboardType</string>
					<string>NSFontPboardType</string>
					<string>NSHTMLPboardType</string>
					<string>NSPDFPboardType</string>
					<string>NSPICTPboardType</string>
					<string>NSPostScriptPboardType</string>
					<string>NSRulerPboardType</string>
					<string>NSRTFPboardType</string>
					<string>NSRTFDPboardType</string>
					<string>NSStringPboardType</string>
					<string>NSTabularTextPboardType</string>
					<string>NSTIFFPboardType</string>
					<string>NSURLPboardType</string>
					<string>NSVCardPboardType</string>
					<string>NSFilesPromisePboardType</string>
				</array>
			</dict>
		</dict>
		<key>QSShelfControllers</key>
		<dict>
			<key>QSPasteboardHistory</key>
			<string>QSPasteboardController</string>
		</dict>
	</dict>
	<key>QSRequirements</key>
	<dict>
		<key>osRequired</key>
		<string>10.14</string>
		<key>plugins</key>
		<array>
			<dict>
				<key>id</key>
				<string>com.blacktree.Quicksilver.QSShelfPlugIn</string>
				<key>name</key>
				<string>Shelf Plugin</string>
			</dict>
		</array>
		<key>version</key>
		<string>400D</string>
	</dict>
	<key>QSResourceAdditions</key>
	<dict>
		<key>Clipboard</key>
		<dict>
			<key>bundle</key>
			<string>com.blacktree.Quicksilver.QSClipboardPlugIn</string>
			<key>resource</key>
			<string>Clipboard.icns</string>
		</dict>
	</dict>
</dict>
</plist>
